@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Varela+Round&display=swap");
body{
    text-align: right;
    font-family: "Varela Round", sans-serif;
    background-color: rgb(223, 240, 255);
    margin: 2%;
}
nav{
    width: 100%;
    height: auto;
    display: flex;
    font-size: 20px;
    margin-bottom: 5%;

}
nav img{
    width: 15%;
    margin-left: 2%;    
    margin-top: 0%;
    margin-bottom: 0%;

}
.menu{
    margin-bottom: 3%;
    margin-top: auto;
    margin-bottom: auto;
}

h1{
  text-align: center;
  margin: 2rem;
  color: aquamarine;
}

main{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;
  margin: auto;
}

figure,
 figure img {
    display: inline-block;
    width: 100%;
}

figure {
  position: relative;
  transition: all ease .5s;
  transform-style: preserve-3d;
  transform:  perspective(600px)rotateY(0deg);
  cursor: pointer;
  box-shadow: 3px 3px 16 rgb(0,0,0,0.6);
}

figure::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  transition: 0.3s all ease;
}

figure:hover:after {
  background: rgba(255, 255, 255, 0.137);
}
figure:opened {
  transform: perspective(600px) rotateY(180deg);
}


figure .back {
  display: block;
  backface-visibility: hidden;
}

figure .searched-image {
  position: absolute;
  top: 0;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  height: 1000%;
  overflow: hidden;
}




/* 
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  background-image:url(../img/92911965-fondo-de-invierno-increíble-luna-creciente-en-cielo-estrellado-noche-azul-oscuro-sobre-el-campo-cubi.webp);
  padding: 10px;
}

.grid-container > div {
background-image:url(../img/image1.png);
  border: 1px solid ;
  text-align: center;
  height: 400px;
  width: 100%;
  
} */
